@import "../../../scss/main.scss";

.container {
  position: relative;
  min-width: 400px;
  min-height: 400px;
  background-size: 40px 40px;
  background-image: radial-gradient(circle, $color15 1px, rgba(0, 0, 0, 0) 1px);
  border: 1px solid $color7;
  display: inline-block;
}

.viewport {
  position: absolute;
}

.joint {
  stroke: $color2;
  stroke-width: 2px;
}

.path {
  stroke: $color6;
}

.title {
  color: $color4;
}

rect {
  stroke: $color5;
}
