<div>
  <button (click)="step()">step</button>
</div>
<sliders (newPos)="moveRobot($event)"></sliders>
<!-- <scene></scene> -->
<viewport
  [data]="result"
  [ortographic]="[true, true, false]"
  title="x/y - ortographic - top"
  (newPos)="moveRobot($event)"
  [pathPoints]="pathPoints"
  (newPath)="addPathPoint($event)"
  [path]="path"
></viewport>
<viewport
  [data]="result"
  [ortographic]="[true, false, true]"
  title="x/z - ortographic - side"
  (newPos)="moveRobot($event)"
  [pathPoints]="pathPoints"
  (newPath)="addPathPoint($event)"
  [path]="path"
></viewport>
<viewport
  [data]="result"
  [ortographic]="[false, true, true]"
  title="y/z - ortographic - front"
  (newPos)="moveRobot($event)"
  [pathPoints]="pathPoints"
  (newPath)="addPathPoint($event)"
  [path]="path"
></viewport>
